<div class="module-loading-indicator"></div>
<div class="module-docheader t3js-module-docheader pb-0 justify-content-end">
    <div class="module-docheader-bar module-docheader-bar-navigation t3js-module-docheader-bar t3js-module-docheader-bar-navigation">
        <div class="container">
            <div class="module-docheader-bar-column-left">
                <h2 class="mb-0 w-100"><f:translate key="license-activation" extensionName="ns_license" /></h2>
                <p class="mb-0"><f:translate key="license-activation.description" extensionName="ns_license" /></p>
            </div>
        </div>
    </div>
</div>
