<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers" data-namespace-typo3-fluid="true">
<!-- Search and Filter -->
<div class="search-section d-flex flex-nowrap align-items-center gap-2 mb-3">
    <div class="input-group flex-grow-1">
        <label class="visually-hidden" for="extSearch"><f:translate key="license-extensions.search-placeholder" /></label>
        <input type="search" id="extSearch" class="form-control search-input" placeholder="{f:translate(key: 'license-extensions.search-placeholder')}">
    </div>
    <select id="extFilter" class="form-select w-auto flex-shrink-0">
        <option value="all" selected><f:translate key="license-extensions.filter-all" /></option>
        <option value="trial"><f:translate key="license-extensions.filter-trial" /></option>
    </select>
    <button type="button" class="btn btn-primary refresh-data-button flex-shrink-0" data-type="extensions">
        <core:icon identifier="actions-refresh" size="small" />
        <f:translate key="license-extensions.get-updates" />
    </button>
</div>

<!-- Premium Extensions Section -->
<f:render partial="PremiumExtension" arguments="{extensions:extensions.premium,composer:showUpdateButton}" />
</html>
