<f:if condition="{extensions}">
    <div id="free-section" class="extension-section">
        <div class="card-body card-container">
            <f:for each="{extensions}" as="extension">
                <div class="card card-size-small extension-card-wrapper" data-name="{extension.title}" data-key="{extension.key}" data-status="free">
                    <div class="card-header">
                        <div class="card-header__title">
                            <f:if condition="{extension.icon}">
                                <f:then><img src="{extension.icon}" alt="{extension.title}" width="32" height="32" /></f:then>
                                <f:else><core:icon identifier="actions-brand-typo3" size="medium" /></f:else>
                            </f:if>
                            <div class="extension-card-header__title-content">
                                <h3 class="h4 mb-0"><b>{extension.title}</b></h3>
                                <span>{extension.key} • v{extension.version}</span>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <p><f:format.crop maxCharacters="100">{extension.description}</f:format.crop></p>
                        <!-- Meta -->
                        <div class="meta-info">
                            <f:if condition="{extension.details.rating}">
                                <div class="meta-item">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="#fdd663" stroke="#fdd663" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide" aria-hidden="true"><path d="M11.525 2.295a.53.53 0 0 1 .95 0l2.31 4.679a2.123 2.123 0 0 0 1.595 1.16l5.166.756a.53.53 0 0 1 .294.904l-3.736 3.638a2.123 2.123 0 0 0-.611 1.878l.882 5.14a.53.53 0 0 1-.771.56l-4.618-2.428a2.122 2.122 0 0 0-1.973 0L6.396 21.01a.53.53 0 0 1-.77-.56l.881-5.139a2.122 2.122 0 0 0-.611-1.879L2.16 9.795a.53.53 0 0 1 .294-.906l5.165-.755a2.122 2.122 0 0 0 1.597-1.16z"></path></svg>
                                    <span>{extension.details.rating}/5</span>
                                </div>
                            </f:if>
                            <f:if condition="{extension.details.downloads}">
                                <div class="meta-item">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide" aria-hidden="true"><path d="M12 15V3"></path><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><path d="m7 10 5 5 5-5"></path></svg>
                                    <span>{extension.details.downloads}</span>
                                </div>
                            </f:if>
                            <f:if condition="{extension.details.documentation_link}">
                                <div class="meta-item">
                                    <a href="{extension.details.documentation_link}" target="_blank">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide" aria-hidden="true"><path d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z"></path><path d="M14 2v4a2 2 0 0 0 2 2h4"></path><path d="M10 9H8"></path><path d="M16 13H8"></path><path d="M16 17H8"></path></svg>
                                        <span><f:translate key="license-documentation" /></span>
                                    </a>
                                </div>
                            </f:if>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="actions-wrapper">
                            <a class="btn btn-default" href="{extension.details.product_link}" target="_blank">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-file-text mr-1.5" aria-hidden="true"><path d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z"></path><path d="M14 2v4a2 2 0 0 0 2 2h4"></path><path d="M10 9H8"></path><path d="M16 13H8"></path><path d="M16 17H8"></path></svg>
                                <span><f:translate key="license-shop.know-more" extensionName="ns_license" /></span>
                            </a>
                        </div>
                    </div>
                </div>
            </f:for>
        </div>
    </div>
</f:if>