/* TYPO3 v12 specific stylesheet entry.
 * Starts by importing the shared stylesheet; add v12 overrides below as needed.
 */
@import url('./custom.css');

.ns-license-module-wrapper .module-docheader-bar-column-left  {
    padding-left: 8px;
    padding-right: 8px;
}

.ns-license-module-wrapper .module-docheader-navigation {
    position: sticky;
}

.ns-license-module .search-section .refresh-data-button {
  min-width: 150px;
}

.ns-license-module .ns-license-activation-form .ns-ext-form .btn {
  min-width: 335px;
}