.ns-license-loader,
.ns-license-loader .t3js-icon {
  position: fixed;
}

.ns-license-loader {
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9;
}

.ns-license-loader .t3js-icon {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.ns-license-actions-btns {
  max-width: 340px;
}

.ns-license-actions-btns .btn {
  margin: 5px 3px;
  min-width: 150px;
  padding-left: 5px;
  padding-right: 5px;
}

.custom-card,
.ns-license-table-wrap,
.card-container {
  margin-bottom: 50px;
}
