<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
  <f:section name="content">
	<f:flashMessages />
    <div class="ns-license-activation-panel">
        <div class="row">
            <div class="col-sm-12 col-lg-5">
                <div class="card custom-card">
                    <div class="card-header">
                        <h5><f:translate key="license-activation.btn-activate" /></h5>
                    </div>
                    <div class="{f:if(condition: '{modalAttr} == data-', then: 'card-content', else: 'card-body')}">
                        <div class="ns-license-activation-form">
                            <f:form  action="activation" class="ns-license-form ns-ext-form">
                                <div class="form-group">
                                    <label for="license" class="form-group__label"><f:translate key="license-activation.licensepLaceholder" /></label>
                                    <div class="{f:if(condition: '{modalAttr} == data-', then: 'w-100', else: 'input-group')}">
                                      <f:form.textfield name="license" class="form-control" id="license" required="required" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <f:form.checkbox id="overwrite" name="overwrite" value="1" class="custom-control-input" />
                                        <label class="custom-control-label" for="overwrite"><f:translate key="license-activation.overwriteExtension" />?</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <f:form.submit class="btn btn-primary" value="{f:translate(key: 'license-activation.btn-activate')}" />
                                </div>
                            </f:form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <f:if condition="{extensions}">
        <f:then>
            <div class="table-responsive ns-license-table-wrap">
                <table class="table license-activation ns-license-activation-table ns-ext-list-table">
                <thead>
                    <tr>
                        <th><f:translate key="license-activation.extkey" /></th>
                        <th><f:translate key="license-activation.license" /></th>
                        <th class="text-center"><f:translate key="license-activation.version" /></th>
                        <th class="text-center"><f:translate key="license-activation.documentation" /></th>
                        <th class="text-center"><f:translate key="license-activation.allow" /></th>
                        <th class="text-center"><f:translate key="license-activation.domains" /></th>
                        <th class="text-center"><f:translate key="license-activation.licenseType" /></th>
                        <th class="text-center"><f:translate key="license-activation.expiration_date" /></th>
                        <th class="text-center"><f:translate key="license-activation.action" /></th>
                    </tr>
                </thead>
                <tbody>
                    <f:for each="{extensions}" as="extension">
                        <tr>
                            <td>{extension.extension_key}</td>
                            <td>{extension.license_key}</td>
                            <td class="text-center">
                                <f:if condition="{extension.version}">
                                    <f:then>{extension.version}</f:then>
                                </f:if>
                            </td>
                            <td class="text-center ns-license-icon-cell">
                                <f:link.typolink target="_bank" parameter="{extension.documentation_link}">
                                    <core:icon identifier="actions-database-reload" size="small" />
                                </f:link.typolink>
                            </td>
                            <td class="text-center ns-license-icon-cell">
                                <f:if condition="{extension.license_type}">
                                    <f:then>
                                        <a href="#" data-toggle="tooltip" data-placement="top" data-html="true" title="{extension.license_type} {f:translate(key: 'license-activation.domains')} {f:translate(key: 'license-activation.allow')}">
                                            <f:if condition="{modalAttr} == data-">
                                                <f:then>
                                                    <core:icon identifier="actions-check" size="small" />
                                                </f:then>
                                                <f:else>
                                                    <core:icon identifier="actions-check-circle" size="small" />
                                                </f:else>
                                            </f:if>
                                        </a>
                                    </f:then>
                                    <f:else>
                                        <a href="#" data-toggle="tooltip" data-placement="top" data-html="true" title="{f:translate(key: 'license-activation.no_domains')}">
                                            <f:if condition="{modalAttr} == data-">
                                                <f:then>
                                                    <core:icon identifier="actions-check" size="small" />
                                                </f:then>
                                                <f:else>
                                                    <core:icon identifier="actions-check-circle" size="small" />
                                                </f:else>
                                            </f:if>
                                        </a>
                                    </f:else>
                                </f:if>
                            </td>
                            <td class="text-center ns-license-icon-cell">
                                <f:if condition="{extension.domains}">
                                    <f:then>
                                        <a href="#" data-toggle="tooltip" data-placement="top" data-html="true" title="{extension.domains}">
                                            <core:icon identifier="apps-pagetree-page-domain" size="small" />
                                        </a>
                                    </f:then>
                                    <f:else>
                                        <a href="#" data-toggle="tooltip" data-placement="top" data-html="true" title="{f:translate(key: 'license-activation.no_domains')}">
                                            <core:icon identifier="apps-pagetree-page-domain" size="small" />
                                        </a>
                                    </f:else>
                                </f:if>
                            </td>
                            <td class="text-center">
                                <f:if condition="{extension.is_life_time} == 1">
                                    <f:then><f:translate key="license-activation.licenseType.life_time" /></f:then>
                                    <f:else><f:translate key="license-activation.licenseType.annual" /></f:else>
                                </f:if>
                            </td>
                            <td class="text-center">
                                <f:if condition="{extension.is_life_time} == 1">
                                    <f:then>
                                        <f:translate key="license-activation.expiration_date.na" />
                                    </f:then>
                                    <f:else>
                                        <span class="{f:if(condition: '{extension.days} < 31', then: 'text-red')}">
                                            <f:if condition="{extension.days} < 0">
                                                <f:then><f:translate key="license-activation.expiration_date.expired" /></f:then>
                                                <f:else>{extension.days} days</f:else>
                                            </f:if>
                                        </span>
                                    </f:else>
                                </f:if>
                            </td>
                            <td class="ns-license-actions-btns text-center">
                                <f:if condition="{showUpdateButton}">
                                    <f:if condition="{extension.isUpdateAvail}">
                                        <f:then>
                                            <f:link.action action="update" class="btn btn-default license-activation-latest" arguments="{extension: extension}">
                                                <core:icon identifier="actions-check" size="small" />
                                                <f:translate key="license-activation.updateTo" /> {extension.lts_version}
                                            </f:link.action>
                                        </f:then>
                                        <f:else>
                                            <a href="javascript:;" class="btn btn-default disabled btn-uptodate">
                                                <core:icon identifier="actions-check" size="small" />
                                                <f:translate key="license-activation.latest" />
                                            </a>
                                        </f:else>
                                    </f:if>
                                </f:if>
                                <f:link.action action="checkUpdate" class="btn btn-default license-reload" arguments="{extKey: extension.extension_key}">
                                    <core:icon identifier="actions-document-synchronize" size="small" />
                                    <f:translate key="license-activation.Updates" />
                                </f:link.action>
                                <f:if condition="{extension.isRepareRequired}">
                                    <f:then>
                                        <f:link.action action="reactivation" class="btn btn-default license-reactivation-latest" arguments="{extension: extension}">
                                            <core:icon identifier="actions-extension-refresh" size="small" />
                                            <f:translate key="license-reactivation.action" />
                                        </f:link.action>
                                    </f:then>
                                    <f:else>
                                        <a href="javascript:;" class="btn btn-default disabled btn-uptodate">
                                            <core:icon identifier="actions-database-import" size="small" />
                                            <f:translate key="license-reactivation.action" />
                                        </a>
                                    </f:else>
                                </f:if>
                                <f:link.action action="deactivation" class="btn btn-{f:if(condition: '{modalAttr} == data-', then: 'default', else: 'danger')} license-deactivation-latest" arguments="{extension: extension}">
                                    <core:icon identifier="actions-delete" size="small" />
                                    <f:translate key="license-deactivation.action" />
                                </f:link.action>
                            </td>
                        </tr>
                    </f:for>
                </tbody>
                </table>
            </div>
        </f:then>
        <f:else>
            <div class="typo3-messages">
                <div class="alert alert-warning">
                    <div class="media">
                        <div class="media-left">
                            <span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-exclamation fa-stack-1x"></i></span>
                        </div>
                        <div class="media-body">
                            <h4 class="alert-title"><f:translate key="license-activation.noRecordTitle" /></h4>
                            <p class="alert-message"><f:translate key="license-activation.noRecordDescription" /></p>
                        </div>
                    </div>
                </div>
            </div>
        </f:else>
    </f:if>
    <div class="ns-license-loader" id="nsLicenseLoader" style="display: none;">
          <core:icon identifier="spinner-circle" size="large"/>
    </div>
    <footer>
        <div class="card-container custom-card">
            <div class="card card-size-medium">
                <div class="card-header">
                    <h3 class="card-title"><f:translate key="license-activation.footerTitle" /></h3>
                </div>
                <div class="{f:if(condition: '{modalAttr} == data-', then: 'card-content', else: 'card-body')}"><p class="card-text"><f:translate key="license-activation.footerDescription" /></p></div>
                <div class="card-footer">
                    <a class="btn btn-default" href="https://t3planet.com/support" target="_blank"><f:translate key="license-activation.footerButton" /></a>
                </div>
            </div>
            <div class="card card-size-medium">
                <div class="card-header">
                    <h3 class="card-title"><f:translate key="license-activation.footerTowTitle" /></h3>
                </div>
                <div class="{f:if(condition: '{modalAttr} == data-', then: 'card-content', else: 'card-body')}"><p class="card-text"><f:translate key="license-activation.footerTwoDescription" /></p></div>
                <div class="card-footer">
                    <a class="btn btn-default" href="https://docs.t3planet.com/en/latest/License/Index.html" target="_blank"><f:translate key="license-activation.licenseButton" /></a>
                </div>
            </div>
        </div>
    </footer>
  </f:section>
</html>
