<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
  <f:section name="content">
	<f:flashMessages />
    <div class="ns-license-activation-form">
        <f:form  action="activation" class="ns-license-form">
            <div class="form-group" style="align-items: center;">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <f:translate key="license-activation.licenseKey" />
                    </div>
                  </div>
                  <f:form.textfield name="license" class="form-control" id="license" required="required" placeholder="{f:translate(key: 'license-activation.licensepLaceholder')}" />
                  &nbsp;&nbsp;
                  <f:form.submit class="btn btn-success" value="{f:translate(key: 'license-activation.btn-activate')}" />
                    <div class="form-group" style="text-align: right; margin-bottom: 0; margin-right: 290px; display: flex; align-items: center; margin-left: 15px;">
                        <div class="form-check">
                            <f:form.checkbox id="overwrite" name="overwrite" value="1" class="form-check-input" />
                            <label class="form-check-label" for="overwrite"><f:translate key="license-activation.overwriteExtension" />?</label>
                        </div>
                    </div>
                </div>
            </div>
        </f:form>
    </div>
    <f:if condition="{extensions}">
        <f:then>
            <div class="table-responsive ns-license-table-wrap">
                <table class="table license-activation ns-license-activation-table">
                <thead>
                    <tr>
                        <th><f:translate key="license-activation.extkey" /></th>
                        <th><f:translate key="license-activation.license" /></th>
                        <th><f:translate key="license-activation.version" /></th>
                        <th class="text-left"><f:translate key="license-activation.product" /></th>
                        <th class="text-center"><f:translate key="license-activation.documentation" /></th>
                        <th style="text-align: center;"><!-- <f:translate key="license-activation.action" /> --></th>
                    </tr>
                </thead>
                <tbody>
                    <f:for each="{extensions}" as="extension">
                        <tr>
                            <td>{extension.extension_key}</td>
                            <td>{extension.license_key}</td>
                            <td>
                                <f:if condition="{extension.version}">
                                    <f:then>{extension.version}</f:then>
                                </f:if>
                            </td>
                            <td class="text-left ns-license-icon-cell">
                                <f:link.typolink target="_bank" parameter="{extension.product_link}">
                                    <f:image src="typo3conf/ext/ns_license/Resources/Public/Icons/Product.svg" alt="icon" width="32" height="32" />
                                </f:link.typolink>
                            </td>
                            <td class="text-center ns-license-icon-cell"><f:link.typolink target="_bank" parameter="{extension.documentation_link}"><em class="fa fa-file-pdf-o"></em></f:link.typolink></td>
                            <td class="ns-license-actions-btns text-center">
                                <f:if condition="{extension.lts_version} > {extension.version}">
                                    <f:then>
                                        <f:link.action action="update" class="btn btn-info license-activation-latest" arguments="{extension: extension}"><f:translate key="license-activation.updateTo" /> {extension.lts_version}</f:link.action>
                                    </f:then>
                                    <f:else><p class="btn btn-success disabled"><f:translate key="license-activation.latest" /></p></f:else>
                                </f:if>
                                &nbsp;<f:link.action action="deactivation" class="btn btn-danger license-deactivation" arguments="{extension: extension}"><f:translate key="license-deactivation.action" /></f:link.action>
                            </td>
                        </tr>
                    </f:for>
                </tbody>
                </table>
            </div>
        </f:then>
        <f:else>
            <div class="typo3-messages">
                <div class="alert alert-warning">
                    <div class="media">
                        <div class="media-left">
                            <span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-exclamation fa-stack-1x"></i></span>
                        </div>
                        <div class="media-body">
                            <h4 class="alert-title"><f:translate key="license-activation.noRecordTitle" /></h4>
                            <p class="alert-message"><f:translate key="license-activation.noRecordDescription" /></p>
                        </div>
                    </div>
                </div>
            </div>
        </f:else>
    </f:if>
    <div class="ns-license-loader" id="nsLicenseLoader" style="display: none;">
        <f:image src="typo3conf/ext/ns_license/Resources//Public/Icons/loader.gif" alt="loader img" style="width:120px; height: 160px;" />
    </div>
    <footer>
        <div class="callout callout-info">
            <div class="media">
               <div class="media-left"><span class="fa-stack fa-lg callout-icon"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-info fa-stack-1x"></i></span></div>
               <div class="media-body">
                  <h4 class="callout-title"><f:translate key="license-activation.footerTitle" /></h4>
                  <div class="callout-body">
                     <p><f:translate key="license-activation.footerDescription" /></p>
                     <a class="btn btn-primary" href="https://t3terminal.com/support-submit-ticket" target="_blank"><f:translate key="license-activation.footerButton" /></a>
                  </div>
               </div>
            </div>
         </div>
    </footer>
  </f:section>
</html>
